@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500&display=swap');
/*selector universal (reset)*/
*{
	margin: 0;
	padding: 0;
	font-family: 'David Libre', serif;
	color: ;
}

nav img{
	height: 50px;
}

header{
	height: 30vh;
	background: url(../img/campesinae.jpg) top center;
	background-size: cover;
}

@media only screen and (min-width: 992px){
	header{
		height: 70vh;
	}
}

footer h3{
	color: white;
}

footer img{
	height: 50px;
}