@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500&display=swap');
/*selector universal (reset)*/
*{
	margin: 0;
	padding: 0;
	font-family: 'David Libre', serif;
	color: ;
}


nav img{
	height: 50px;
}

header{
	height: 30vh;
	background: url(../img/frejole.jpg) top center;
	background-size: cover;
}

.scale:hover{
	transform: scale(1.2);
	cursor: pointer;
	transition: transform 2s;
}

section img{
	border-radius: 10px;
}

footer h3{
	color: black;
}

footer img{
	height: 50px;
}

@media only screen and (min-width: 992px){
	header{
		height: 50vh;
	}
}